.my-img-div{
    height:84vh;
    background-color: rgb(255, 255, 255);
    border: 10px solid #742cff;
    box-shadow: 0 8px 28px 0 rgb(63, 74, 159);
    margin: auto;
    /* margin-top: -15px;
    padding: 10px; */
    /* width: 70%; */
}

