/* 

.pagination {
    display: flex;
    justify-content: space-between;
    margin: 20px;
} 
*/


.paymentcontainer {
    padding: 5rem;
    /* background-color: rgb(108, 3, 206);
    background-clip: padding-box, margin-box, border-box; */
}



.paymentcard {
    display: flex;
    flex-direction: column;
    /* background-color: #ffffff; */
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: 10px solid rgb(110, 19, 191);
    box-shadow: 0 2px 8px 0 rgb(108, 3, 206);
    margin: auto;
    padding: 40px;
    width: 80%;
}

.paymenttable {
    margin-top: 40px;
}